@import "tailwindcss";

root, body {
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
}

button {
    cursor:pointer;
}

/* Set up brand manual classes right here (colors and sizing for example)*/