@import "tailwindcss";

root, body {
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
}

button {
    cursor:pointer;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.account-dropdown {
    position: absolute;
    background-color: white;
    top: 100%;
    right: 0;
}

/* TODO: Set up brand manual classes right here (colors and sizing for example)*/